<div ng-controller="FooterController as fo" class="footer" layout="row" layout-align="end">
	<md-button class="md-fab" ng-click="fo.showAdd($event)">
		<md-tooltip md-direction="top">Add Item!</md-tooltip>
 		<md-icon md-font-icon="fa fa-plus"></md-icon>		
 	</md-button>

 <div class="footer" layout-align="start">
	 <md-button class="md-fab md-primary" ng-click="fo.test()">
		<md-tooltip md-direction="top">Add Item!</md-tooltip>
 		<md-icon  md-font-icon="help">&#xE887;</md-icon>		
 	</md-button>
 	</div>
 </div>
