.done-true{
  text-decoration: line-through;
  color:green;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
} 
.tabsdemoStaticTabs md-content md-tabs {
  border: 1px solid #e1e1e1;
 
}
  .tabsdemoStaticTabs md-content md-tabs md-tab-content {
    padding: 25px; }
    .tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(1) {
      background-color: #cfd8dc; }
    .tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(2) {
      background-color: #ffb74d; }
    .tabsdemoStaticTabs md-content md-tabs md-tab-content:nth-child(3) {
      background-color: #ffd54f; }

.tabsdemoStaticTabs .after-tabs-area > span {
  margin-top: 25px;
  padding-right: 15px;
  vertical-align: middle;
  line-height: 30px;
  height: 35px;
  }
  
.done{
  color:green;
}
.progress{
  color:orange;
}
.strike {
  text-decoration: line-through;
}
input:focus { 
}
input {
    border:none;
    background-color:transparent;
}