<div layout="row" flex="20">
<form name="form">
	<md-input-container flex>
		<label>Select category...</label>
			<md-select ng-model="ho.category" name="category">
				<md-option ng-model="ho.work" value="work">Work</md-option>
				<md-option ng-model="ho.life" value="personal_life">Personal Life</md-option>
				<md-option ng-model="ho.wish" value="wishlist">Wishlist</md-option>
			</md-select>
	</md-input-container> 	
</div>

<div layout="row">
	<md-input-container>
		<label>Add Item</label>
		<input type="text" required="" ng-model="ho.item" name="item" aria-label="additem"  />
		<div ng-messages="form.item.$error" md-auto-hide="false">
			<div ng-message-exp="required">This field is required!</div>
		</div>
	</md-input-container>
</div>

 <div layout="row" layout-align="center center">
   <md-button ng-click="ho.addItem()"  class="md-fab md-mini md-primary" aria-label="Add Item">
    <md-icon md-font-icon="fa fa-plus"></md-icon>
  </md-button>
 </div>
</form>

 